.homepageTitle {
  color: darkblue;
  background-color: cornflowerblue;
  font-size: xx-large;
  text-align: center;
  
}
.title1 {
  color: blue;
  font-size: x-large;
  text-decoration: underline;
}
.text {
  color: blue;
  font-size: medium;
}

li {
  color: blue;
  font-size: large;
}

table,
th,
td {
  color: blue;
  font-size: large;
  border: 1px solid black;
  border-radius: 1em;
  padding: 5px;   /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
}

th {
  font-weight: bolder;
  font-size: larger;
}

.emoji {
  font-size: 1.5em;
}

footer {
  background-color: cornflowerblue;
  text-align: center;
}

#title2 {
    color: aqua;
}

.bg  {
    background-color: lightskyblue;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Um die Elemente ist ein konstanter abstand*/
  
  background-color: yellowgreen;
}
.flex-wrapper > div {
  background-color: #f1f1f1;
  width: 6em;
  margin: 0.2em;
  text-align: center; /* left, center, right*/
  line-height: 100px;
  font-size: 2em;
  font-family: sans-serif;
}

.linkBackgroundColor{
  background-color: aqua;
}